/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
.php-cs-fixer.cache
/tmp/
backend.tar
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/infra-template/terraform/.terraform/
/infra-template/terraform/.terraform.lock.hcl
/infra-template/terraform/.terraform/terraform.tfstate
/infra-template/terraform/.terraform/terraform.tfstate.backup
/infra-template/terraform/.terraform/terraform.tfvars
